	---
	Herunterladen
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2012-02-16

Herunterladen

* Selbständiges Programm

	Sie können Vestigo als autonomes Programm hier herunterladen:

	* {{{http://vestigo.nightlabs.com/${project.version}/download/stand-alone/vestigo-linux-gtk-${project.version}.tar.gz}GNU/Linux/GTK 32 Bit}}

	* {{{http://vestigo.nightlabs.com/${project.version}/download/stand-alone/vestigo-linux-gtk-x86_64-${project.version}.tar.gz}GNU/Linux/GTK 64 Bit}}

	* {{{http://vestigo.nightlabs.com/${project.version}/download/stand-alone/vestigo-macosx-cocoa-${project.version}.tar.gz}Mac OS X/Cocoa 32 Bit}}

	* {{{http://vestigo.nightlabs.com/${project.version}/download/stand-alone/vestigo-macosx-cocoa-x86_64-${project.version}.tar.gz}Mac OS X/Cocoa 64 Bit}}

	* {{{http://vestigo.nightlabs.com/${project.version}/download/stand-alone/vestigo-win32-${project.version}.zip}Windows 32 Bit}}

	* {{{http://vestigo.nightlabs.com/${project.version}/download/stand-alone/vestigo-win32-x86_64-${project.version}.zip}Windows 64 Bit}}

	[]

* {Erweiterung}

	Wenn Sie {{{http://www.eclipse.org}Eclipse}} als Entwicklungsumgebung (IDE) verwenden, können Sie die folgende Update-Site
	registrieren und Vestigo als Erweiterung in Ihre existierende IDE installieren:

	<<{{http://vestigo.nightlabs.com/updates/releases/}}>>

	Für eine {{{./how-to-install-the-plug-in.html}detaillierte Installationsanleitung klicken Sie bitte hier}}.

	Falls Sie abenteuerlustig sind, können Sie auch einen Entwicklungsschnappschuß ausprobieren. Aber seien Sie gewarnt,
	die Schnappschüsse könnten Fehler enthalten und wir bieten für sie keine Unterstützung an. Die Update-Site für Schnappschüsse ist:

	<<{{http://vestigo.nightlabs.com/updates/snapshots/}}>>

* Demo-Daten

	Um es Ihnen einfach zu machen, Vestigo auszuprobieren, bieten wir Ihnen hier zwei kleine Derby-Demo-Datenbanken
	(eine mit einem JDO- und eine mit einem JPA-Datenmodell) zum Herunterladen an:
	{{{http://vestigo.nightlabs.com/${project.version}/download/demo/org.nightlabs.vestigo.demo-${project.version}-bin.zip}org.nightlabs.vestigo.demo-${project.version}-bin.zip}}

	{{{../documentation/jdo/quick-start.html}Klicken Sie hier}} für die zugehörige {{{../documentation/jdo/quick-start.html}Schnellstartanleitung}}!
