<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="org.nightlabs.jjqb.core.oda"
            name="JDO/JPA Query Browser">
      </category>
   </extension>

	<extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="org.nightlabs.jjqb.core.oda.JDODriver"
            name="JDO Connections"
            parentCategory="org.nightlabs.jjqb.core.oda"/>
      <connectionProfile
            category="org.nightlabs.jjqb.core.oda.JDODriver"
            icon="icons/jdo.png"
            id="org.nightlabs.jjqb.core.oda.JDODriver"
            name="JDO Connection Profile"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"/>
      <connectionFactory
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="JDO Connection Factory"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            profile="org.nightlabs.jjqb.core.oda.JDODriver"/>
      <newWizard
            id="org.nightlabs.jjqb.core.oda.JDODriver"
            name="New JDO connection"
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            description="Create a new JDO connection"
            icon="icons/jdo.png"
            profile="org.nightlabs.jjqb.core.oda.JDODriver"/>
   </extension>


   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="org.nightlabs.jjqb.core.oda.JPADriver"
            name="JPA Connections"
            parentCategory="org.nightlabs.jjqb.core.oda"/>
      <connectionProfile
            category="org.nightlabs.jjqb.core.oda.JPADriver"
            icon="icons/jpa.png"
            id="org.nightlabs.jjqb.core.oda.JPADriver"
            name="JPA Connection Profile"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"/>
      <connectionFactory
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="JPA Connection Factory"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            profile="org.nightlabs.jjqb.core.oda.JPADriver"/>
      <newWizard
            id="org.nightlabs.jjqb.core.oda.JPADriver"
            name="New JPA connection"
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            description="Create a new JPA connection"
            icon="icons/jpa.png"
            profile="org.nightlabs.jjqb.core.oda.JPADriver"/>
   </extension>


   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.jjqb.core.oda.JDODriver"
            name="JDO Properties"
            class="org.nightlabs.jjqb.ui.oda.JDODriverPropertyPage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.jjqb.core.oda.JDODriver"/>
      </page>
   </extension>


   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.jjqb.core.oda.JPADriver"
            name="JPA Properties"
            class="org.nightlabs.jjqb.ui.oda.JPADriverPropertyPage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.jjqb.core.oda.JPADriver"/>
      </page>
   </extension>


   <extension
            point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI id="org.nightlabs.jjqb.core.oda.JDODriver">
        <newDataSourceWizard
              includesProgressMonitor="false"
              pageClass="org.nightlabs.jjqb.ui.oda.JDODriverWizardPage"
              pageTitle="JDO DataSource"
              windowTitle="JDO DataSource"/>
      </dataSourceUI> 
      <dataSetUI
              id="org.nightlabs.jjqb.core.JDODataSet"
              initialPageId="org.nightlabs.jjqb.ui.oda.JDOQueryWizardPage"
              supportsInParameters="true"
              supportsOutParameters="false">
        <dataSetWizard
              class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
              windowTitle="JDO Query"/>
        <dataSetPage
              displayName="JDO Query"
              icon="icons/jdo.png"
              id="org.nightlabs.jjqb.ui.JDOQueryWizardPage"
              path="/"
              wizardPageClass="org.nightlabs.jjqb.ui.oda.JDOQueryWizardPage"/>
      </dataSetUI>
   </extension>


   <extension
            point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI id="org.nightlabs.jjqb.core.oda.JPADriver">
        <newDataSourceWizard
              includesProgressMonitor="false"
              pageClass="org.nightlabs.jjqb.ui.oda.JPADriverWizardPage"
              pageTitle="JPA DataSource"
              windowTitle="JPA DataSource"/>
      </dataSourceUI> 
      <dataSetUI
              id="org.nightlabs.jjqb.core.JPADataSet"
              initialPageId="org.nightlabs.jjqb.ui.oda.JPAQueryWizardPage"
              supportsInParameters="true"
              supportsOutParameters="false">
        <dataSetWizard
              class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
              windowTitle="JPA Query"/>
        <dataSetPage
              displayName="JPA Query"
              icon="icons/jpa.png"
              id="org.nightlabs.jjqb.ui.JPAQueryWizardPage"
              path="/"
              wizardPageClass="org.nightlabs.jjqb.ui.JPAQueryWizardPage"/>
      </dataSetUI> 
   </extension>


   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.nightlabs.jjqb.ui.viewContribution_DataSourceExplorerNavigator"
            targetID="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <action
               class="org.nightlabs.jjqb.ui.oda.OpenQueryBrowserAction"
               enablesFor="+"
               id="org.nightlabs.jjqb.ui.oda.OpenQueryBrowserAction"
               label="Open query browser"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>

      <viewContribution
            id="org.nightlabs.jjqb.ui.viewContribution_ResultSetTableView"
            targetID="org.nightlabs.jjqb.ui.resultsettable.ResultSetTableView">
         <action
               class="org.nightlabs.jjqb.ui.resultsettable.NextAction"
               id="org.nightlabs.jjqb.ui.resultsettable.NextAction"
               label="Next"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.nightlabs.jjqb.ui.objectContribution_AbstractDriver"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <action
               class="org.nightlabs.jjqb.ui.oda.OpenQueryBrowserAction"
               enablesFor="+"
               id="org.nightlabs.jjqb.ui.oda.OpenQueryBrowserAction"
               label="Open query browser">
         </action>
      </objectContribution>
   </extension>


   <extension
         point="org.eclipse.ui.editors">
<!--
      <editor
            class="org.nightlabs.jjqb.ui.exampleeditor.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xml"
            icon="icons/sample.gif"
            id="org.nightlabs.jjqb.ui.exampleeditor.XMLEditor"
            name="Sample XML Editor">
      </editor>
-->
      <editor
            class="org.nightlabs.jjqb.ui.browser.JDOQueryBrowserEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="jdoql"
            icon="icons/jdo.png"
            id="org.nightlabs.jjqb.ui.browser.JDOQueryBrowserEditor"
            name="JDO Query Browser">
      </editor>
   </extension>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nightlabs.jjqb.ui.browser.JPAQueryBrowserEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="jpql"
            icon="icons/jpa.png"
            id="org.nightlabs.jjqb.ui.browser.JPAQueryBrowserEditor"
            name="JPA Query Browser">
      </editor>
   </extension>


   <extension
         point="org.eclipse.ui.views">
      <category 
            id="org.nightlabs.jjqb.ui"
            name="JDO/JPA Query Browser">
      </category>

      <view id="org.nightlabs.jjqb.ui.resultsettable.ResultSetTableView"
            name="Result set view"
            icon="icons/org.nightlabs.jjqb.ui.resultsettable/ResultSetTableView.16x16.png"
            category="org.nightlabs.jjqb.ui"
            class="org.nightlabs.jjqb.ui.resultsettable.ResultSetTableView"/>

      <view id="org.nightlabs.jjqb.ui.detailtree.ObjectGraphDetailTreeView"
            name="Object graph detail tree"
            icon="icons/org.nightlabs.jjqb.ui.detailtree/ObjectGraphDetailTreeView.16x16.png"
            category="org.nightlabs.jjqb.ui"
            class="org.nightlabs.jjqb.ui.detailtree.ObjectGraphDetailTreeView"/>

      <view id="org.nightlabs.jjqb.ui.queryparam.QueryParameterManagerView"
            name="Query parameters"
            icon="icons/org.nightlabs.jjqb.ui.queryparam/QueryParameterManagerView.16x16.png"
            category="org.nightlabs.jjqb.ui"
            class="org.nightlabs.jjqb.ui.queryparam.QueryParameterManagerView"/>
   </extension>


   <extension point="org.eclipse.ui.perspectives">
        <perspective
            class="org.nightlabs.jjqb.ui.JJQBPerspective"
            fixed="false"
            icon="icons/org.nightlabs.jjqb.ui/JJQBPerspective.16x16.png"
            id="org.nightlabs.jjqb.ui.JJQBPerspective"
            name="JDO/JPA Query Browser"/>
    </extension>


	<extension point="org.eclipse.ui.preferencePages">
		<page class="org.nightlabs.jjqb.ui.licence.LicencePreferencePage"
			id="org.nightlabs.jjqb.ui.licence.LicencePreferencePage"
			name="JJQB Licence">
		</page>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page class="org.nightlabs.jjqb.ui.childvm.ChildVMPreferencePage"
			id="org.nightlabs.jjqb.ui.childvm.ChildVMPreferencePage"
			name="JJQB ChildVM">
		</page>
	</extension>
 <extension
       point="org.nightlabs.jjqb.core.transientConnectionPropertiesProvider">
    <provider
          class="org.nightlabs.jjqb.ui.transientconnectionproperties.DefaultTransientConnectionPropertiesProvider"
          connectionProfileClass="org.nightlabs.jjqb.core.oda.ConnectionProfile"
          id="org.nightlabs.jjqb.ui.transientconnectionproperties.DefaultTransientConnectionPropertiesProvider">
    </provider>
 </extension>

</plugin>
