<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.nightlabs.eclipse.jjqb.core.connectionExtension">
      <connectionExtension
            class="org.nightlabs.eclipse.jjqb.derby.DerbyConnectionExtension"
            id="org.nightlabs.eclipse.jjqb.derby.DerbyConnectionExtension"
            name="DerbyConnectionExtension">
      </connectionExtension>
   </extension>

</plugin>
