	---
	Schnellstart (JDO)
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2012-03-28

Schnellstart (JDO)

	Im Folgenden zeigen wir Ihnen, was Vestigo ist und wie man es benutzt. Wir verwenden eine kleine
	Demo-Datenbank mit einem korrespondierenden JDO-Datenmodell. Wohlgemerkt enthalten unsere
	Demo-Daten auch ein JPA-Datenmodell, falls Sie lieber mit JPA arbeiten. Das Vorgehen ist das gleiche
	(nur ist die JDO-Abfragesprache eleganter).

* Herunterladen und entpacken der Demo-Daten

	Laden Sie die Datei
	{{{http://vestigo.nightlabs.com/${project.version}/download/demo/org.nightlabs.vestigo.demo-${project.version}-bin.zip}org.nightlabs.vestigo.demo-${project.version}-bin.zip}}
	herunter und entpacken Sie sie. Diese Anleitung geht im Folgenden davon aus, daß Sie sie in das Verzeichnis
	<<</tmp/>>> heruntergeladen und dort entpackt haben. Es sollte also die Verzeichnisse und Dateien wie in diesem Bildschirmfoto geben:

[../../images/jdo/quick-start/10.png]

* Herunterladen, entpacken und starten von Vestigo

	Gehen Sie auf die Seite {{{../../download/index.html}Herunterladen}} und wählen Sie die Ihrem Betriebssystem
	entsprechende Version der selbständigen Vestigo-Anwendung. Nachdem Sie die tar.gz- (oder Zip-) Datei heruntergeladen
	haben, entpacken Sie sie und führen Sie das Programm <<<vestigo>>> oder <<<vestigo.exe>>> (je nach Umgebung) aus.

* Schließen der <Willkommen>-Seite und öffnen der <Vestigo>-Perspektive

	Um die <Vestigo>-Perspektive zu öffnen, klicken Sie im Hauptmenü auf <Fenster> => <Öffne Perspektive>
	=> <Sonstige...>:

[../../images/jdo/quick-start/15.png]

	Im sich öffnenenden Dialog wählen Sie die <Vestigo>-Perspektive:

[../../images/jdo/quick-start/20.png]

* Starten des Assistenten

	In der Sicht <Data Source Explorer> klicken Sie mit der rechten Maustaste auf
	<JDO-Datenquellen> und dann auf <Neu...>:

[../../images/jdo/quick-start/25.png]

* Benennen der neuen Datenquelle

	Die neue Datenquelle benötigt einen Namen, über den sie überall in der Anwendung referenziert wird.

[../../images/jdo/quick-start/30.png]

* Klassenpfad

	Alle Bibliotheken, die für diese Datenquelle benötigt werden, liegen im Ordner <<</tmp/vestigo-demo/>>>.
	Daher fügen wir <<<file:$\{java.io.tmpdir}/vestigo-demo/*>>> wie unten gezeigt hinzu:

	Mehr Informationen über den {{{../data-source.html#Classpath}Klassenpfad finden Sie hier}}.

[../../images/jdo/quick-start/35.png]

* Persistenzeinheit

	Unsere Demodaten enthalten zwei Persistenzeinheiten: Eine für JDO und eine für JPA. Wählen Sie
	<<<vestigoDemoMovieJDO>>> aus.

	Auf {{{./persistence-unit.html}JDO-Persistenzeinheit}} finden Sie weitere Details.

[../../images/jdo/quick-start/40.png]

* Persistenzeigenschaften

	Die meisten Einstellungen aus der Persistenzeinheit können so verwendet werden, wie sie sind. Nur
	eine einzige Eigenschaft muß überschrieben werden: <<<javax.jdo.option.ConnectionURL>>>

	Wir haben die Demodaten in unser <<</tmp/>>>-Verzeichnis entpackt. Daher ist die korrekte
	JDBC-URL: <<<jdbc:derby:/tmp/vestigo-demo/derby/vestigoDemoMovieJDO/>>>

	Wohlgemerkt können Sie Variablen wie <<<$\{VAR}>>> verwenden und daher ist die URL
	<<<jdbc:derby:$\{java.io.tmpdir}/vestigo-demo/derby/vestigoDemoMovieJDO/>>> äquivalent zu
	<<<jdbc:derby:/tmp/vestigo-demo/derby/vestigoDemoMovieJDO/>>>.

	Bitte lesen Sie mehr auf {{{./persistence-properties.html}Persistenzeigenschaften}}.

[../../images/jdo/quick-start/45.png]

* Testen der Datenquelle

	Wir können - und sollten - die Datenquelle jetzt testen: Klicken Sie auf den Knopf <Teste Verbindung>.
	Wenn alles korrekt ist und eine <<<PersistenceManagerFactory>>> erfolgreich gestartet werden konnte,
	erscheint dieser Dialog:

[../../images/jdo/quick-start/50.png]

* Beenden des Assistenten

	Nach einem Klick auf den <Beenden>-Knopf des Assistenten, wird die neue Datenquelle in
	der Sicht <Data Source Explorer> angezeigt.  

[../../images/jdo/quick-start/55.png]

* Verbinden der Datenquelle und Ausführen Ihrer ersten Abfrage

	Ein Doppelklick auf die Datenquelle <<<JDO demo>>> öffnet sie und führt dazu, daß die Sicht <Kandidatenklassen>
	alle verfügbaren Kandidatenklassen (auch Entitäten genannt) auflistet.

[../../images/jdo/quick-start/60.png]

	Wenn Sie eine der Klassen doppelklicken, öffnet sich ein neuer (anonymer) Abfrage-Editor mit einer simplen
	Abfrage für die gewählte Kandidatenklasse.

[../../images/jdo/quick-start/65.png]

	Ein zweiter Doppelklick auf die gleiche Klasse sorgt dafür, daß die Abfrage ausgeführt wird und das Ergebnis
	in der <Ergebnis>-Sicht erscheint.

[../../images/jdo/quick-start/70.png]

	Um durch den Objektgraphen zu navigieren, wählen Sie einfach eine Zeile in der <Ergebnis>-Sicht aus.
	In der Sicht <Objektgraphdetailbaum> können Sie dann in die Tiefe des Objektgraphen eintauchen.

[../../images/jdo/quick-start/75.png]
