<?xml version="1.0" encoding="UTF-8"?>
<!--

    Vestigo - The JDO/JPA Query Tool And Browser - http://vestigo.nightlabs.com
    Copyright © 2011-2012 NightLabs Consulting GmbH. All rights reserved.

    This program and all its libraries in the namespace "*.nightlabs.vestigo.*"
    are proprietary software. Their source codes are trade secrets and therefore
    must be kept confidential.

    The use of this software is subject to licence terms.

    Please see LICENCE.txt or
    http://vestigo.nightlabs.com/latest-stable/about/licence.html for
    more details.

    For further information, please contact NightLabs Consulting GmbH:
    http://nightlabs.com

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.nightlabs.vestigo.maven.core.mavenErrorHandler">
      <handler
            class="org.nightlabs.vestigo.maven.ui.DialogMavenErrorHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.nightlabs.vestigo.ui.preference.VestigoCategoryPreferencePage"
            class="org.nightlabs.vestigo.maven.ui.VestigoMavenPreferencePage"
            id="org.nightlabs.vestigo.maven.ui.VestigoMavenPreferencePage"
            name="Maven">
      </page>
   </extension>
   <extension
         point="org.nightlabs.vestigo.ui.editClasspathActionDelegate">
      <action
            class="org.nightlabs.vestigo.maven.ui.oda.classpath.AddMavenDependencyActionDelegate"
            group="add"
            icon="icons/org.nightlabs.vestigo.maven.ui.oda.classpath/AddMavenDependencyActionDelegate.16x16.png"
            id="org.nightlabs.vestigo.maven.ui.oda.classpath.AddMavenDependencyActionDelegate"
            label="Add Maven dependency"
            tooltip="Add a Maven artifact (aka dependency).">
      </action>
   </extension>

</plugin>
