<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.nightlabs.vestigo.maven.core.mavenErrorHandler">
      <handler
            class="org.nightlabs.vestigo.maven.ui.DialogMavenErrorHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.nightlabs.vestigo.ui.preference.VestigoCategoryPreferencePage"
            class="org.nightlabs.vestigo.maven.ui.VestigoMavenPreferencePage"
            id="org.nightlabs.vestigo.maven.ui.VestigoMavenPreferencePage"
            name="Maven">
      </page>
   </extension>
   <extension
         point="org.nightlabs.vestigo.ui.editClasspathActionDelegate">
      <action
            class="org.nightlabs.vestigo.maven.ui.oda.classpath.AddMavenDependencyActionDelegate"
            group="add"
            icon="icons/org.nightlabs.vestigo.maven.ui.oda.classpath/AddMavenDependencyActionDelegate.16x16.png"
            id="org.nightlabs.vestigo.maven.ui.oda.classpath.AddMavenDependencyActionDelegate"
            label="Add Maven dependency"
            tooltip="Add a Maven artifact (aka dependency).">
      </action>
   </extension>

</plugin>
