<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	metadata-complete="true"
	version="2.5">
	<!--
	metadata-complete="true" causes the annotations to be ignored, which speeds up the jetty startup significantly
	(from about 30 sec to 1 sec).
	-->

	<display-name>org.nightlabs.jjqb.childvm.webapp</display-name>

	<servlet>
		<servlet-name>org.nightlabs.jjqb.childvm.webapp.ChildVMApp</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.nightlabs.jjqb.childvm.webapp.ChildVMApp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>org.nightlabs.jjqb.childvm.webapp.ChildVMApp</servlet-name>
		<url-pattern>/ChildVMApp/*</url-pattern>
	</servlet-mapping>

</web-app>
