<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.nightlabs.org/vestigo/xtext/jdoql/JPQL" 
       class = "org.nightlabs.vestigo.xtext.jpql.jPQL.JPQLPackage"
       genModel = "org/nightlabs/vestigo/xtext/jpql/JPQL.genmodel" /> 
	
  </extension>




</plugin>
