<?xml version="1.0" encoding="UTF-8"?>
<!--

    Vestigo - The JDO/JPA Query Tool And Browser - http://vestigo.nightlabs.com
    Copyright © 2011-2012 NightLabs Consulting GmbH. All rights reserved.

    This program and all its libraries in the namespace "*.nightlabs.vestigo.*"
    are proprietary software. Their source codes are trade secrets and therefore
    must be kept confidential.

    The use of this software is subject to licence terms.

    Please see LICENCE.txt or
    http://vestigo.nightlabs.com/latest-stable/about/licence.html for
    more details.

    For further information, please contact NightLabs Consulting GmbH:
    http://nightlabs.com

-->
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"
            name="JDO+Cumulus4j data sources"
            parentCategory="org.nightlabs.vestigo.core.oda"/>
      <connectionProfile
            category="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"
            icon="icons/jdo.png"
            id="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"
            name="JDO+Cumulus4j Connection Profile"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"/>
      <connectionFactory
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="JDO Connection Factory"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            profile="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"/>
      <newWizard
            id="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"
            name="New JDO+Cumulus4j data source"
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            description="Create a new JDO+Cumulus4j data source"
            icon="icons/jdo.png"
            profile="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"/>
   </extension>


   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver"
            name="JPA+Cumulus4j data sources"
            parentCategory="org.nightlabs.vestigo.core.oda"/>
      <connectionProfile
            category="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver"
            icon="icons/jpa.png"
            id="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver"
            name="JPA+Cumulus4j Connection Profile"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"/>
      <connectionFactory
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="JPA+Cumulus4j Connection Factory"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            profile="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver"/>
      <newWizard
            id="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver"
            name="New JPA+Cumulus4j data source"
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            description="Create a new JPA+Cumulus4j data source"
            icon="icons/jpa.png"
            profile="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver"/>
   </extension>


<!-- BEGIN default pages (copied from org.nightlabs.vestigo.ui and JDODriver/JPADriver replaced by Cumulus4j-specific driver) -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.vestigo.cumulus4j.ui.oda.property.JDOCumulus4jClasspathPage"
            name="Classpath"
            class="org.nightlabs.vestigo.ui.oda.property.JDOClasspathPage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.vestigo.cumulus4j.ui.oda.property.JDOCumulus4jPersistenceUnitPage"
            name="Persistence unit"
            class="org.nightlabs.vestigo.ui.oda.property.JDOPersistenceUnitPage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.vestigo.cumulus4j.ui.oda.property.JDOCumulus4jPersistencePropertiesPage"
            name="Persistence properties"
            class="org.nightlabs.vestigo.ui.oda.property.JDOPersistencePropertiesPage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"/>
      </page>
   </extension>


   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.vestigo.cumulus4j.ui.oda.property.JPACumulus4jClasspathPage"
            name="Classpath"
            class="org.nightlabs.vestigo.ui.oda.property.JPAClasspathPage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.vestigo.cumulus4j.ui.oda.property.JPACumulus4jPersistenceUnitPage"
            name="Persistence unit"
            class="org.nightlabs.vestigo.ui.oda.property.JPAPersistenceUnitPage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.vestigo.cumulus4j.ui.oda.property.JPACumulus4jPersistencePropertiesPage"
            name="Persistence properties"
            class="org.nightlabs.vestigo.ui.oda.property.JPAPersistencePropertiesPage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver"/>
      </page>
   </extension>
<!-- END default pages (copied from org.nightlabs.vestigo.ui and JDODriver/JPADriver replaced by Cumulus4j-specific driver) -->


   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.vestigo.cumulus4j.ui.oda.property.JDOCumulus4jKeyStorePage"
            name="Cumulus4j"
            class="org.nightlabs.vestigo.cumulus4j.ui.oda.property.Cumulus4jKeyStorePage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"/>
      </page>
   </extension>


   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.vestigo.cumulus4j.ui.oda.property.JPACumulus4jKeyStorePage"
            name="Cumulus4j"
            class="org.nightlabs.vestigo.cumulus4j.ui.oda.property.Cumulus4jKeyStorePage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver"/>
      </page>
   </extension>



   <extension
            point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI id="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver">
        <newDataSourceWizard
              includesProgressMonitor="false"
              pageClass="org.nightlabs.vestigo.cumulus4j.ui.oda.wizard.JDOCumulus4jWizardPage"
              pageTitle="JDO+Cumulus4j DataSource"
              windowTitle="JDO+Cumulus4j DataSource"/>
      </dataSourceUI> 
      <dataSetUI
              id="org.nightlabs.vestigo.core.JDODataSet"
              initialPageId="org.nightlabs.vestigo.ui.oda.JDOQueryWizardPage"
              supportsInParameters="true"
              supportsOutParameters="false">
        <dataSetWizard
              class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
              windowTitle="JDO+Cumulus4j Query"/>
        <dataSetPage
              displayName="JDO+Cumulus4j Query"
              icon="icons/jdo.png"
              id="org.nightlabs.vestigo.ui.JDOQueryWizardPage"
              path="/"
              wizardPageClass="org.nightlabs.vestigo.ui.oda.JDOQueryWizardPage"/>
      </dataSetUI>
   </extension>


   <extension
            point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI id="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver">
        <newDataSourceWizard
              includesProgressMonitor="false"
              pageClass="org.nightlabs.vestigo.cumulus4j.ui.oda.wizard.JPACumulus4jWizardPage"
              pageTitle="JPA+Cumulus4j DataSource"
              windowTitle="JPA+Cumulus4j DataSource"/>
      </dataSourceUI> 
      <dataSetUI
              id="org.nightlabs.vestigo.core.JPADataSet"
              initialPageId="org.nightlabs.vestigo.ui.oda.JPAQueryWizardPage"
              supportsInParameters="true"
              supportsOutParameters="false">
        <dataSetWizard
              class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
              windowTitle="JPA+Cumulus4j Query"/>
        <dataSetPage
              displayName="JPA+Cumulus4j Query"
              icon="icons/jpa.png"
              id="org.nightlabs.vestigo.ui.JPAQueryWizardPage"
              path="/"
              wizardPageClass="org.nightlabs.vestigo.ui.JPAQueryWizardPage"/>
      </dataSetUI> 
   </extension>
   <extension
         point="org.nightlabs.vestigo.core.transientConnectionPropertiesProvider">
      <provider
            class="org.nightlabs.vestigo.cumulus4j.ui.transientconnectionproperties.Cumulus4jTransientConnectionPropertiesProvider"
            connectionProfileClass="org.nightlabs.vestigo.cumulus4j.core.oda.Cumulus4jConnectionProfile"
            id="org.nightlabs.vestigo.cumulus4j.ui.transientconnectionproperties.Cumulus4jTransientConnectionPropertiesProvider">
      </provider>
   </extension>
   <extension
         point="org.nightlabs.vestigo.ui.queryFileExtension">
      <queryFileExtension
            fileExtension="jdoql"
            providerID="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver">
      </queryFileExtension>
      <queryFileExtension
            fileExtension="jpql"
            providerID="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver">
      </queryFileExtension>
   </extension>


<!--
*** BEGIN BIEBER EXPERIMENTALS ***

Don't delete! We'll need this for splitting the settings UI into several pages. Marco :-)

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.vestigo.cumulus4j.ui.JDOCumulus4jPropertyPage1"
            name="Cumulus4j PropertyPage 1"
            class="org.nightlabs.vestigo.cumulus4j.ui.JDOCumulus4jPropertyPage1"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"/>
      </page>
      <page
            class="org.nightlabs.vestigo.cumulus4j.ui.JDOCumulus4jPropertyPage2"
            id="org.nightlabs.vestigo.cumulus4j.ui.JDOCumulus4jPropertyPage2"
            name="Cumulus4j PropertyPage 2"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver">
         </filter>
      </page>
   </extension>







   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"
            name="JDO+Cumulus4j Connections"
            parentCategory="%oda.parent.category.id">
      </category>
      <connectionProfile
            category="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"
            icon="icons/jdo.png"
            id="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"
            name="JDO+Cumulus4j connection profile"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory">
      </connectionProfile>
      <connectionFactory
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="JDO+Cumulus4j Connection Factory"
            profile="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver">
      </connectionFactory>
      <newWizard
            class="org.nightlabs.vestigo.cumulus4j.ui.NewJDOCumulus4jConnectionProfileWizard"
            description="Create a new JDO+Cumulus4j connection"
            icon="icons/jdo.png"
            id="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"
            name="New JDO+Cumulus4j connection"
            profile="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver">
      </newWizard>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI
            id="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver">
         <newDataSourceWizard
               includesProgressMonitor="false"
               pageClass="org.nightlabs.vestigo.cumulus4j.ui.JDOCumulus4jDriverWizardPage"
               pageTitle="JDO DataSource"
               windowTitle="JDO DataSource">
         </newDataSourceWizard>
      </dataSourceUI>
      <dataSetUI
            id="org.nightlabs.vestigo.core.JDODataSet"
            initialPageId="org.nightlabs.vestigo.ui.oda.JDOQueryWizardPage"
            supportsInParameters="true"
            supportsOutParameters="false">
         <dataSetWizard
               class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
               windowTitle="JDO Query">
         </dataSetWizard>
         <dataSetPage
               displayName="JDO Query"
               icon="icons/jdo.png"
               id="org.nightlabs.vestigo.ui.JDOQueryWizardPage"
               path="/"
               wizardPageClass="org.nightlabs.vestigo.ui.oda.JDOQueryWizardPage">
         </dataSetPage>
      </dataSetUI>
   </extension>

*** END BIEBER EXPERIMENTALS ***
--> 

</plugin>
