<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Vestigo Linux GTK x86_64" sequenceNumber="27">
<locations>
<location path="${workspace_loc}/org.nightlabs.vestigo.tycho/product/dev/target/products/org.nightlabs.vestigo.ui.product.dev/linux/gtk/x86_64" type="Directory"/>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
</environment>
<launcherArgs>
<vmArgs>-Xmx512m
-XX:MaxPermSize=128m
-XX:+UseConcMarkSweepGC
-XX:+CMSClassUnloadingEnabled
-XX:+CMSPermGenSweepingEnabled</vmArgs>
</launcherArgs>
</target>
