<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="JJQB" sequenceNumber="5">
<locations>
<location path="${workspace_loc}/org.nightlabs.eclipse.jjqb.assembly.linux-gtk-x86_64/target/assembly/eclipse" type="Directory"/>
<location path="${workspace_loc}/org.nightlabs.eclipse.jjqb.assembly.linux-gtk-x86_64/target/assembly/eclipse/dropins" type="Directory"/>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
</environment>
</target>
