<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.views">
		<category
			id="org.nightlabs.eclipse.jjqb.ui"
			name="%org.nightlabs.eclipse.jjqb.ui.viewCategory.name">
		</category>
		<view
			category="org.nightlabs.eclipse.jjqb.ui"
			class="org.nightlabs.eclipse.jjqb.ui.datasource.DataSourceView"
			icon="icons/importstatus/ImportStatusView16x16.png"
			id="org.nightlabs.eclipse.jjqb.ui.datasource.DataSourceView"
			name="%org.nightlabs.eclipse.jjqb.ui.datasource.DataSourceView.name">
		</view>
	</extension>


	<extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="org.nightlabs.eclipse.jjqb.core.oda.JDODriver"
            name="JDO Driver"
            parentCategory="%oda.parent.category.id"/>
      <connectionProfile
            category="org.nightlabs.eclipse.jjqb.core.oda.JDODriver"
            icon="icons/jdo.gif"
            id="org.nightlabs.eclipse.jjqb.core.oda.JDODriver"
            name="JDO Connection Profile"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"/>
      <connectionFactory
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="JDOQL Connection Factory"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            profile="org.nightlabs.eclipse.jjqb.core.oda.JDODriver"/>
      <newWizard
            id="org.nightlabs.eclipse.jjqb.core.oda.JDODriver"
            name="New JDO Driver"
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            description="Create a new JDO driver"
            icon="icons/jdo.gif"
            profile="org.nightlabs.eclipse.jjqb.core.oda.JDODriver"/>
   </extension>


   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.eclipse.jjqb.core.oda.JDODriver"
            name="JDO Properties"
            class="org.nightlabs.eclipse.jjqb.ui.JDODriverPropertyPage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.eclipse.jjqb.core.oda.JDODriver"/>
      </page>
   </extension>


   <extension
            point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI id="org.nightlabs.eclipse.jjqb.core.oda.JDODriver">
        <newDataSourceWizard
              includesProgressMonitor="false"
              pageClass="org.nightlabs.eclipse.jjqb.ui.JDODriverWizardPage"
              pageTitle="JDO DataSource"
              windowTitle="JDO DataSource"/>
      </dataSourceUI> 
      <dataSetUI
              id="org.nightlabs.birt.jdo.oda.jdoql.JDOQLDataSet"
              initialPageId="org.nightlabs.birt.jdo.jdoql.ui.JDOQLQueryWizardPage"
              supportsInParameters="true"
              supportsOutParameters="false">
        <dataSetWizard
              class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
              windowTitle="JDO Query"/>
        <dataSetPage
              displayName="JDO Query"
              icon="icons/jdo.gif"
              id="org.nightlabs.birt.jdo.jdoql.ui.JDOQLQueryWizardPage"
              path="/"
              wizardPageClass="org.nightlabs.birt.jdo.jdoql.ui.JDOQLQueryWizardPage"/>
      </dataSetUI> 
   </extension>

</plugin>
