<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="org.nightlabs.eclipse.jjqb.core.internal.JDODriver"
            name="JDO Driver"
            parentCategory="%oda.parent.category.id"/>
      <connectionProfile
            category="org.nightlabs.eclipse.jjqb.core.internal.JDODriver"
            icon="icons/jdo.gif"
            id="org.nightlabs.eclipse.jjqb.core.internal.JDODriver"
            name="JDO Connection Profile"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"/>
      <connectionFactory
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="JDOQL Connection Factory"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            profile="org.nightlabs.eclipse.jjqb.core.internal.JDODriver"/>
      <newWizard
            id="org.nightlabs.eclipse.jjqb.core.internal.JDODriver"
            name="New JDO Driver"
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            description="Create a new JDO driver"
            icon="icons/jdo.gif"
            profile="org.nightlabs.eclipse.jjqb.core.internal.JDODriver"/>
   </extension>


   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.nightlabs.eclipse.jjqb.core.internal.JDODriver"
            name="JDO Properties"
            class="org.nightlabs.eclipse.jjqb.ui.JDODriverPropertyPage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.nightlabs.eclipse.jjqb.core.internal.JDODriver"/>
      </page>
   </extension>


   <extension
            point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI id="org.nightlabs.eclipse.jjqb.core.internal.JDODriver">
        <newDataSourceWizard
              includesProgressMonitor="false"
              pageClass="org.nightlabs.eclipse.jjqb.ui.JDODriverWizardPage"
              pageTitle="JDO DataSource"
              windowTitle="JDO DataSource"/>
      </dataSourceUI> 
      <dataSetUI
              id="org.nightlabs.birt.jdo.oda.jdoql.JDOQLDataSet"
              initialPageId="org.nightlabs.birt.jdo.jdoql.ui.JDOQLQueryWizardPage"
              supportsInParameters="true"
              supportsOutParameters="false">
        <dataSetWizard
              class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
              windowTitle="JDO Query"/>
        <dataSetPage
              displayName="JDO Query"
              icon="icons/jdo.gif"
              id="org.nightlabs.birt.jdo.jdoql.ui.JDOQLQueryWizardPage"
              path="/"
              wizardPageClass="org.nightlabs.birt.jdo.jdoql.ui.JDOQLQueryWizardPage"/>
      </dataSetUI> 
   </extension>


   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.nightlabs.eclipse.jjqb.ui.viewContribution_DataSourceExplorerNavigator"
            targetID="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <action
               class="org.nightlabs.eclipse.jjqb.ui.OpenQueryBrowserAction"
               enablesFor="+"
               id="org.nightlabs.eclipse.jjqb.ui.OpenQueryBrowserAction"
               label="Open query browser"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.nightlabs.eclipse.jjqb.ui.objectContribution_AbstractDriver"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <action
               class="org.nightlabs.eclipse.jjqb.ui.OpenQueryBrowserAction"
               enablesFor="+"
               id="org.nightlabs.eclipse.jjqb.ui.OpenQueryBrowserAction"
               label="Open query browser">
         </action>
      </objectContribution>
   </extension>
</plugin>
