<?xml version="1.0" encoding="UTF-8"?>
<!--

    Vestigo - The JDO/JPA Query Tool And Browser - http://vestigo.nightlabs.com
    Copyright © 2011-2012 NightLabs Consulting GmbH. All rights reserved.

    This program and all its libraries in the namespace "*.nightlabs.vestigo.*"
    are proprietary software. Their source codes are trade secrets and therefore
    must be kept confidential.

    The use of this software is subject to licence terms.

    Please see LICENCE.txt or
    http://vestigo.nightlabs.com/latest-stable/about/licence.html for
    more details.

    For further information, please contact NightLabs Consulting GmbH:
    http://nightlabs.com

-->
<?eclipse version="3.0"?>
<plugin>

    <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">

      <dataSource
            defaultDisplayName="JDO Driver"
            driverClass="org.nightlabs.vestigo.cumulus4j.core.oda.impl.JDOCumulus4jDriverImpl"
            id="org.nightlabs.vestigo.cumulus4j.core.oda.JDOCumulus4jDriver"
            odaVersion="3.0"
            setThreadContextClassLoader="true">
         <properties>
            <property
                  canInherit="true"
                  defaultDisplayName="jdoCumulus4jConnectionType"
                  isEncryptable="false"
                  name="jdoCumulus4jConnectionType"
                  type="string"/>
         </properties>
      </dataSource>

<!-- TODO what's this dataSet good for? do we need it? copied from org.nightlabs.birt.jdo... -->
      <dataSet
            defaultDisplayName="JDO Data Set"            
            id="org.nightlabs.vestigo.core.oda.JDODataSet">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String"/>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="2"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="3"
               odaScalarDataType="Double"/>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="5"
               odaScalarDataType="Date"/>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="6"
               odaScalarDataType="Decimal"/>
      </dataSet>

   </extension>


   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">

      <dataSource
            defaultDisplayName="JPA Driver"
            driverClass="org.nightlabs.vestigo.cumulus4j.core.oda.impl.JPACumulus4jDriverImpl"
            id="org.nightlabs.vestigo.cumulus4j.core.oda.JPACumulus4jDriver"
            odaVersion="3.0"
            setThreadContextClassLoader="true">
         <properties>
            <property
                  canInherit="true"
                  defaultDisplayName="jpaCumulus4jConnectionType"
                  isEncryptable="false"
                  name="jpaCumulus4jConnectionType"
                  type="string"/>
         </properties>
      </dataSource>

<!-- TODO what's this dataSet good for? do we need it? copied from org.nightlabs.birt.jdo... -->
      <dataSet
            defaultDisplayName="JDO Data Set"            
            id="org.nightlabs.vestigo.core.oda.JDODataSet">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String"/>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="2"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="3"
               odaScalarDataType="Double"/>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="5"
               odaScalarDataType="Date"/>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="6"
               odaScalarDataType="Decimal"/>
      </dataSet>

   </extension>


   <extension
         point="org.nightlabs.vestigo.core.childVMWebApp">
      <webApp
            class="org.nightlabs.vestigo.cumulus4j.core.childvm.internal.Cumulus4jWebApp"
            webAppName="org.nightlabs.vestigo.cumulus4j.childvm.webapp">
      </webApp>
   </extension>
   <extension
         point="org.nightlabs.vestigo.core.connectionProfile">
      <connectionProfile
            class="org.nightlabs.vestigo.cumulus4j.core.oda.impl.JDOCumulus4jConnectionProfileImpl"
            connectionType="org.nightlabs.vestigo.cumulus4j.core.oda.impl.JDOCumulus4jConnectionImpl">
      </connectionProfile>
      <connectionProfile
            class="org.nightlabs.vestigo.cumulus4j.core.oda.impl.JPACumulus4jConnectionProfileImpl"
            connectionType="org.nightlabs.vestigo.cumulus4j.core.oda.impl.JPACumulus4jConnectionImpl">
      </connectionProfile>
   </extension>
</plugin>
