<!--

    Vestigo - The JDO/JPA Query Tool And Browser - http://vestigo.nightlabs.com
    Copyright © 2011-2012 NightLabs Consulting GmbH. All rights reserved.

    This program and all its libraries in the namespace "*.nightlabs.vestigo.*"
    are proprietary software. Their source codes are trade secrets and therefore
    must be kept confidential.

    The use of this software is subject to licence terms.

    Please see LICENCE.txt or
    http://vestigo.nightlabs.com/latest-stable/about/licence.html for
    more details.

    For further information, please contact NightLabs Consulting GmbH:
    http://nightlabs.com

-->
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
</web-app>
