<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="connectionExtension" name="ConnectionExtension" schema="schema/connectionExtension.exsd"/>
    <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            defaultDisplayName="JDO Driver"
            driverClass="org.nightlabs.eclipse.jjqb.core.internal.JDODriverImpl"
            id="org.nightlabs.eclipse.jjqb.core.JDODriver"
            odaVersion="3.0"
            setThreadContextClassLoader="true">
         <properties>
            <property
                  canInherit="true"
                  defaultDisplayName="jdoConnectionType"
                  isEncryptable="false"
                  name="jdoConnectionType"
                  type="string"/>
         </properties>
      </dataSource>

<!-- TODO what's this dataSet good for? do we need it? copied from org.nightlabs.birt.jdo... -->
      <dataSet
            defaultDisplayName="JDO Data Set"            
            id="org.nightlabs.eclipse.jjqb.core.JDODataSet">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String"/>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="2"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="3"
               odaScalarDataType="Double"/>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="5"
               odaScalarDataType="Date"/>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="6"
               odaScalarDataType="Decimal"/>
      </dataSet>

   </extension>
</plugin>
